@font-face {
    font-family: 'Luckiest Guy';
    src: url('../fonts/LuckiestGuy-Regular.eot');
    src: url('../fonts/LuckiestGuy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LuckiestGuy-Regular.woff2') format('woff2'),
        url('../fonts/LuckiestGuy-Regular.woff') format('woff'),
        url('../fonts/LuckiestGuy-Regular.ttf') format('truetype'),
        url('../fonts/LuckiestGuy-Regular.svg#LuckiestGuy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}